<%- include('../partials/_head') %> 

<h1>All animals</h1>
<div class="body-container">
    
    <% animals.forEach((animal) => { %>
        <a href="/animals/<%= animal._id %>">
        <%= animal.name %> 
        </a>
        
    <img src="<%= animal.image %>" alt="animal picture">
    
   <% }) %>
  
</div>

<%- include('../partials/_footer') %> 

<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->