<%- include('../partials/_head') %> 

<h1>All animals</h1>
<div class="body-container">
    
    <% animals.forEach((animal) => { %>
        <a href="/animals/<%= animal._id %>">
        <%= animal.name %> 
        </a>
        
    <img src="<%= animal.image %>" alt="animal picture">
    
   <% }) %>
  
</div>

<%- include('../partials/_footer') %> 