<%- include('../partials/_head') %> 

            <h1>Individual animal</h1>
			
    <body>
        <section>
            <div class="card indvcard">
            <h3><%= animal.name %>: <%= animal.age %> years old</h3>
            <br>
            <h3>Profile creator: <%= admin.admin.username %> </h3>
            <h3>Profile created on: <%= new Date (animal.createdAt).toLocaleDateString() %></h3>
            <img src="<%= animal.image %> " alt="">
            <br>
            <h4 class="petnameheader"><%= animal.description %> </h4>
            <form action="/animals/<%= animal._id%>?_method=DELETE" method="POST"><button type="submit" class="btn btn-large">Delete</button>
                <button type="submit" class="btn btn-large"> <a href="/animals/<%= animal._id %>/edit">Edit</a></button>
            </form>
        </div>
        </section>
    </body>

	<%- include('../partials/_footer') %> 