<%- include('../partials/_head') %> 

            <h1>Individual animal</h1>
			
    <body>
        <section>
            <h3><%= animal.name %>: <%= animal.age %> years old</h3>
            <br>
            <h3>Profile creator: <%= admin.admin.username %> </h3>
            <img src="<%= animal.image %> " alt="">
            <br>
            <%= animal.description %> 
            <form action="/animals/<%= animal._id%>?_method=DELETE" method="POST"><button type="submit">Delete</button>
            <a href="/animals/<%= animal._id %>/edit">Edit</a>
            </form>
        </section>
    </body>

	<%- include('../partials/_footer') %> 